{% extends "StackoverflowClone/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container text-center">
  <br>
  <h1>{% trans "Log Out" %}</h1>
<p>{% trans 'Thanks for Spending your time in our website' %}</p>
<p>{% trans 'Are you sure you want to Log out?' %}</p>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button  class="btn btn-outline-danger" type="submit">{% trans 'Log Out' %}</button>
</form>
</div>

{% endblock %}
