<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>

    hr 
    {
      border-width: 2px;
    }
    #invisible {
      visibility: hidden;
    }
  </style>
</head>
{% if user.is_authenticated %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage' %}">StackOverFlow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Ask a question<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
        <p id="invisible"> Navbar space is</p>
        <!-- <li class="nav-item"> -->
        <form method="GET" action="/search" class="form-inline my-2 my-lg-0">
          <li class="nav-item active">
            <input class="form-control mr-sm-1" type="search" placeholder="Search anything...." aria-label="Search" name="query" id="query" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul><div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
          <button class="dropdown-item disabled" type="button">{{ user.username }}<br><small>{{ user.email }}</small></button>
          <div class="dropdown-divider"></div>
          <a href="{% url 'profile' %}" class="dropdown-item">Your Profile</a>
          <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
          <a class="dropdown-item" href="#">Your questions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Change Password</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
        </div>
      </div>
      <form action="{% url 'account_logout' %}" class="form-inline my-2 my-lg-0">
        <li class="nav-item active">
          <button class="btn btn-outline-danger my-2 my-sm-0 form-control" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage' %}">StackOverFlow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
        </li>
        <li class="nav-item">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
        </li>
        <li class="nav-item">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <li class="nav-item">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
              </li>
            </li>
          </li>
        </form>
      </ul>
    </div>
  </nav>
  {% endif %}
  {% if messages %}
  <ul class="messages px-0 mb-0">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
  </ul>
</div>
  {% block content %}{% endblock content %}
</body>
</html>