{% extends 'StackoverflowClone/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    h2 {
      text-align: center;
    }
  </style>
</head>
  <form method="POST">
    {% csrf_token %}
    <div class="container ">
      <h2>Contact Us</h2><hr>
      <div class="container">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address *</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1"
          placeholder="name@example.com" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Your Name *</label>
        <input name="name" type="text" multiple class="form-control" required placeholder="Your Name">
      </div>
      <div class="form-group">
        <div class="form-group">
          <label for="phone">Enter a phone number (optional):</label><br>
          <input name="phone" type="tel" id="phone" name="phone" multiple class="form-control"
            placeholder="Enter Your Phone Number In the format given below " pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
          <small>Format: 012-345-6789</small><br>
          <small>The phone feature is only available in India</small>

        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Describe Your Issue *</label>
          <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Please be detailed with your issue or problem or just say a hi" required></textarea><br>
          <input class="btn btn-primary" type="submit">
        </div>
      </div>
    </div>
  </form>

</body>
</html>
{% endblock content %}